
{% extends 'base.html' %}

<body>
{% block head %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6173430360094892"
     crossorigin="anonymous"></script>
<title>High Praise Ministry</title>
{% endblock %}
{% block content %}
<main>


  <div class='col-lg-8  mt-5'>

    <div class='offset-lg-4 fs-4 shadow-lg'>  
        <div class='shadow-lg' ><h3> High Praise Ministry Impactful HIV/AIDS Awareness Event at PramsHigh</h3></div>
  
        <img class="post-gallery"
          src="{{url_for('static', filename='asset/images/hpm/praise_leader.jpg') }}"
       
          alt="High Praise Ministry led praises at Pramshigh"
        />
 
    <p>On the 11th of February 2025, at the Multipurpose Hall, Prampram Senior High School hosted a significant program organized by the High Praise Ministry, dedicated to spiritual guidance and health awareness, particularly focusing on HIV/AIDS.
       The event commenced at 2:00 PM with an opening prayer, followed by energizing sessions of worship and praise, led by esteemed ministers including Mr. Mathias and Mr. Moses A-J. 

      Pastor Fred Nkum, the keynote speaker for the event, delivered an insightful sermon titled “The Mysteries Behind Destiny.” He emphasized the importance of knowing one’s identity to determine personal destiny.
       Pastor Fred encouraged students to embrace their unique paths, develop a determined mindset, and seek mentorship. Using the acronym MIND (Making Ideas, Narrating, Decisions, Diligence), he inspired students to stay focused on their goals and not let external negativity deter their ambitions.</p>

        <img class="post-gallery"
          src="{{url_for('static', filename='asset/images/hpm/praises.jpg') }}"
          alt="Drugless Club at parliament of Ghana"
        />

    <p>The event atmosphere was lively, with students actively participating and engaging with the messages. The spiritual nourishment provided reminded students to balance their academic pursuits with a strong moral framework.

      Alongside the spiritual discussions, the event featured critical health education provided by professionals from a local health center and the NGO, JOKAT Skill Hub. The discussions focused on HIV/AIDS, its transmission, prevention, and the importance of understanding one’s health. The experts notably shared that HIV/AIDS has links to historical practices involving the consumption of chimpanzee meat, leading to the virus's transmission through blood contact.
      
      Key presentations were made by Mr. Gabriel Sarfo Bondzie and Mrs. 
      <br> <img class="post-gallery"

          src="{{url_for('static', filename='asset/images/hpm/level100_at_praise.jpg') }}"
          alt="Form 1 Student at HPM Praises"
        /><br>Theresah Nyamedo, who outlined how HIV can be contracted through sexual activities, contact with infected blood, and breastfeeding. They also elaborated on the symptoms of HIV, emphasizing that while there is no cure, antiretroviral therapy can help those infected lead healthy lives. 
      
      The program concluded with a generous donation from JOKAT Skill Hub, which included certificates and educational materials for the school. This act of goodwill reflects a commitment to fostering awareness and support for students regarding their health and well-being.
      
      The event at Prampram Senior High School was a resounding success, combining spiritual guidance with crucial health education. The knowledge shared about HIV/AIDS is vital for empowering students to make informed choices about their health. 
      Such initiatives not only help nurture well-rounded students but also contribute positively to the school community. We look forward to hosting more events that enrich our students academically, spiritually, and socially.</p>
      <p class='fst-italic fw-bold'> You missed the eventt? View some beautiful <a target='_blank' href="{{url_for('views.high_praise_gallery')}}">pictures.</a> </p>

   <p> --------------------------------------------------------------------------------------------------------------------</p>

    <p class='fst-italic'>	Report and coverage on the event was taken by the following students </p>
    <img class="post-gallery"

    src="{{url_for('static', filename='asset/images/hpm/authors.jpg') }}"
    alt="Authors of the HPM HIV event"
  />

      
      <div>
 </div>
 <div class="container">
  <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
</div>
        
</main>
<section id="div_back" class="author ict-vertical-line">
  <div class="author">
    <img src="{{url_for('static', filename='asset/images/authors/helen-akoto_0.jpg') }}">
  </div>
  <div class="author">
    <address class="page_anchor">
      <p><b>Author: Helen Akoto</b></p>
      <p>Tell: <a href="tel:0245876951">0245876951</a></p>
      <p>PQ: BA Liquistics and English Language</p>
      <p>Rank: PS</p>
      <p><i>Published on: 24/08/2024.<i></p>
    </address>
  </div>
</section>

{% endblock %}

</body>