
{% extends 'base.html' %}

<body>
{% block head %}
<title>Club: Drugless embarked on an Educative Excursion</title>
{% endblock %}
{% block content %}
<main>
<section class='post-section'>
<div style='justify-content: center; '>
    <h3> Drugless Club Embarked on an Excursion</h3>
  
        <img class="post-gallery"
          src="{{url_for('static', filename='asset/images/drugless/at-parliament-hourse-1.jpg') }}"
          alt="Drugless Club at parliament of Ghana"
        />
 
    <p>On August 9, 2024, the Drugless Generation Club whose core mandate is to promote a drug-free lifestyle and environment in Pramshigh embarked on a poignant journey of discovery, visiting three iconic landmarks: the Parliament House of Ghana, the Psychiatric Hospital, and the Kwame Nkrumah Memorial Park. As the day drew to a close, club members reflected on a rollercoaster of emotions and how they are permanently impacted by the powerful experiences and stories they encountered at each destination.</p>

        <img class="post-gallery"
          src="{{url_for('static', filename='asset/images/drugless/at-kwame-nkrumah-center.jpg') }}"
          alt="Drugless Club at parliament of Ghana"
        />

    <p>At the <a href="https://www.parliament.gh/">Parliament House</a>, under the expert guidance of Mr. Ahmed Mustafa, a P.R.O official, students were taken through a fascinating journey on the inner workings of the Legislative Arm of Government. They learnt about the legislative process, how laws are made, and the role of parliamentarians in shaping the country's policies. In an attempt to answer the questions posed by the students, they delved into the intricacies of the debating Chamber, discovering the dynamics of Parliament proceedings, the hierarchical structure of the chamber, and the significance of its two hundred and seventy-five (275) representatives, leaving them with a deeper understanding and appreciation of Ghana’s democratic process. </p>
    <p>The experience at the <a href="https://accrapsychiatrichospital.org/wp/">Accra Psychiatric Hospital</a> was a real eye -opener.  Students heard stories about mental Health, what causes it and how it affects people. The hospital official took the students to the different wards-special case, acute, chronic…it was heartbreaking to see so many people neglected by their families. The children’s ward was the toughest. Students’ emotions reached the climax. Witnessing the ravaging effects of drug abuse, they felt a deep sense of empathy and resolved-a firm commitment to avoid pitfalls of substance use and expressed how they are forever changed by what they saw.</p>
  
    <img class="post-gallery"

          src="{{url_for('static', filename='asset/images/drugless/at-parliament-hourse.jpg') }}"
          alt="Drugless Club at parliament of Ghana"
        />

    <p>	Finally, the bus arrived at the revered Osagyefo Dr. <a href="https://knmp.gov.gh/">Kwame Nkrumah Memorial Park</a>, a welcome respite from the emotional toll of the Psychiatric Hospital visit. As students delved into the life story of Ghana’s first president, from his birth to his burial, they were treated to a rich historical journey. The park’s serene beauty was a sight to behold. Guided through its sections, they immersed themselves in Nkrumah’s legacy, feeling a sense of awe and inspiration. Learning about his courageous fight for independence was humbling and motivating, instilling a sense of patriotism within them. With a renewed admiration, students captured memories of their visit, taking photos amidst the park’s beautiful scenery and historic landmarks.</p>
    <p> You missed the excursion, view some beautiful <a href="{{url_for('views.drugless_excursion_gallery')}}">gallery.</a> 
</div>

 </section>

        <section id="div_back" class="author ict-vertical-line">
            <div class="author">
              <img src="{{url_for('static', filename='asset/images/authors/helen-akoto_0.jpg') }}">
            </div>
            <div class="author">
              <address class="page_anchor">
                <p><b>Author:</b></p>
                <p>Helen Akoto</p>
                <p>Tell: <a href="tel:0245876951">0245876951</a></p>
                <p>PQ: BA Liquistics and English Language</p>
                <p>Rank: PS</p>
                <p><i>Published on: 24/08/2024.<i></p>
              </address>
            </div>
          </section>
</main>
{% endblock %}

</body>