
{% extends 'base.html' %}
{% block head %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6173430360094892"
     crossorigin="anonymous"></script>
<title> 2025 SRC Week Celebraion</title>
{% endblock %}
<body>

{% block content %}
<main>


  <div class='col-lg-8  mt-5'>

    <div class='offset-lg-4 fs-4'> 
        <div class='shadow-lg' ><h3> SRC Week Celebraion</h3>
        <img class="post-gallery"
          src="{{url_for('static', filename='asset/images/hpm/authors.jpg') }}"
       
          alt="Student expressing happiness"
        />
        </div>
        <br>
        <p>The entire student body of Prampram Senior High School is buzzing with excitement as we approach the much-awaited SRC celebration, scheduled to take place in the second semester. 
          After much anticipation, the celebration, which was originally set for the first semester, had to be postponed due to the proximity of the end-of-semester exams. 
          However, this delay has only heightened the excitement and allowed more time for the SRC committee to prepare an even grander and more memorable event. </p>
<br>
          <p>Led by the ever-dedicated Rev. Agidipo and his hardworking team of SRC members, there is no doubt that this year's celebration will be one for the books. 
            The SRC committee has put in a tremendous amount of effort in ensuring the success of the event, focusing on every detail from planning to execution. 
            The team has been working tirelessly, collaborating with various departments and student representatives to ensure a smooth and enjoyable experience for everyone. </p>
  
        
          <br>
          <p> Rev. Agidipo and his team have prioritized making this celebration more inclusive, with activities that cater to the interests of the entire student body. 
            Whether it's the fun-filled games, entertainment, cultural showcases, or the exciting prizes up for grabs, there is something for everyone to look forward to.
             The committee has also ensured that all the logistics, including seating arrangements, food, and security, will be handled meticulously, so we can all enjoy the event in a safe and comfortable environment.</p>
    
      <img class="post-gallery"
          src="{{url_for('static', filename='/asset/images/src/src_executives.jpg') }}"
          alt="Drugless Club at parliament of Ghana"
        />
        <br>
        <p> One of the highlights of this year’s SRC celebration is the stunning and durable SRC T-shirts, which have already caught the attention of many students.
           These T-shirts are not only stylish but also designed to last, with high-quality material that guarantees comfort and durability.
            Students are proud to wear them as a symbol of unity and school spirit, and the excitement surrounding the T-shirt distribution is palpable.
          </p>
     <p> With the hard work, dedication, and careful planning of the SRC committee, we are all confident that the second semester will witness one of the most exciting and memorable SRC celebrations in Prampram Senior High School’s history. 
      The long wait will definitely be worth it, and we can’t wait to join in the fun and celebration as one united student body.
     <bridge> Let’s continue to show our support for Rev. Agidipo and his committee as they bring us closer to what promises to be an unforgettable event!</p>
      

     
   <p> --------------------------------------------------------------------------------------------------------------------</p>
      
      <div> 
 </div>
        
</main>
<section id="div_back" class="author ict-vertical-line">
  <div class="author">
    <img src="{{url_for('static', filename='asset/images/authors/helen-akoto_0.jpg') }}">
  </div>
  <div class="author">
    <address class="page_anchor">
      <p><b>Author: Helen Akoto</b></p>
      <p>Tell: <a href="tel:0245876951">0245876951</a></p>
      <p>PQ: BA Liquistics and English Language</p>
      <p>Rank: PS</p>
      <p><i>Published on: 24/08/2024.<i></p>
    </address>
  </div>
</section>

{% endblock %}

</body>