
{% extends 'base.html' %}

<body>
{% block head %}
<title> </title>
{% endblock %}
{% block content %}
<main>


  <div class='col-lg-8  mt-5'>

        <div class='offset-lg-4 fs-4'> 
            <div class='shadow-lg' ><h3>Overview of School</h3></div>
  
        <img class="post-gallery"
          src="{{url_for('static', filename='/asset/images/handover/hnd-over.jpg') }}"
       
          alt="School Prefect Deliverying spe"
        />
      </div>
<div class=' offset-lg-4 fs-4 shadow-lg'>
     <h2>Background</h2>
     <p> Prampram Senior High School was founded in the year 2005 as a private school. The school started with a population of 54 students but now has a population of 1207 students. The school has 529 boys and 678 girls.</p>
     <p> The school is located at Prampram in the Greater Accra Region of Ghana, situated on a 20-acre land. She has a well-furnished administration block, a library, a science laboratory, a computer laboratory, a Home Economics block, a Visual Arts block, a dining hall, a sick bay, a sports field, and a staff bungalow.</p> 
    </div>
     
   
      <p> --------------------------------------------------------------------------------------------------------------------</p>

      
    </div>

 
</main>
</section>

{% endblock %}

</body>