{% extends 'base.html' %}
<body>
  {% block content %}
  <main>
    <section style="padding-top: 20vh;">
        <section>

      <h1><u>Induction of newly elected prefect</u></h1>
      <div>
        <p>
          The content is yet to be posted by our head of content developer, Madam Helen.
        </p>
      </div>
    </section>
    <section id="div_back" class="author ict-vertical-line">
        <div class="author">
          <img src="{{url_for('static', filename='asset/images/') }}", alt="Helen's Picture">
          
        </div>
        <div class="author">
          <address class="page_anchor">
            <p><b>Author:</b></p>
            <p>Madam Helen Akoto</p>
            <p>Tell: <a href="tel:+23324258769XX">++23324258769XX</a></p>
            <p>PQ: BSc in English Language</p>
            <p>Rank: PS</p>
          </address>
          <div class="div_back1"></div>
            <p> Ads</p>
          </div>
        </div>
      </section>
  </main>
  {% endblock %}
</body>
