{% extends 'base.html' %} {% block content %}
<main style="padding-botton:15vh">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
   {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{message}}

  </div> 
  {% endfor %} {% endif %} {% endwith %}
  <section class='col-lg-8 text-center pt-6'>
    <div class="text-center">
      <h1 >Welcome to Prampram Senior High School</h1>
      <p class='lead'>
        You have made a good choice for
        coming this far and congratulations for succesfully
        completing your Basic Education Certification Examinations. <b> To apply
        for online admission please click on this link 
        <button style="width: 300px; height: 70px">
          <a style = "text-decoration: none " href="https://app.solseducation.com/account/student"
            >Online Admission Live</a
          >
        </button>
      </p>
      
    </div>
   
  </section>
</main>
{% endblock %}
