{% extends 'base.html' %} {% block content %}
<main>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
   {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{message}}

  </div> 
  {% endfor %} {% endif %} {% endwith %}
  <section style="margin-top: 20vh">
    <div>
      <h1>Welcome to Prampram Senior High School</h1>
      <p style="font-size:1.5rem">
        You have made a good choice for
        coming to this far and congratulations for succesfully
        completing your Basic Education Certification Examinations. <b> To apply
        for online admission please click on this link 
        <button style="width: 300px; height: 70px">
          <a style = "text-decoration: none " href="https://app.solseducation.com/account/student"
            >Online Admission Live</a
          >
        </button>
      </p>
      
    </div>
   
  </section>
</main>
{% endblock %}
