{% extends 'base.html' %}
<body>
  {% block head %}
  <title>SOLs Online Admission</title>
  {% endblock %} {% block content %}

  <main>
    <section style="margin-top: 10vh">
      <div>
        <h1>Welcome to Prampram Senior High School</h1>
        <p style="font-size: 1.5rem">
          You have made a good choice for coming to this far and congratulations
          for succesfully completing your Basic Education Certification
          Examinations. <br />
          To apply for admission through our online process please use this
          <a
            style="text-decoration: none"
            href="https://app.solseducation.com/account/student"
            >link.</a
          >
        </p>
        <p>
          Please vision our <a href="https://pramshighedu.com"> homepage</a>,
          under Courses and read on the numerious courses we run for an informed
          decisions.
        </p>
      </div>
    </section>
  </main>
  {% endblock %}
</body>
