{% extends 'base.html' %} {% block content %}
<main>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %} 
  {% for category, message in messages %}
 <div class="alert alert-{{ category }}">{{ message }}</div>
 {% endfor %} {% endif %} {% endwith %}
  <section style="margin-top: 10vh">

    <p>
      NOTE:<br />
      1. An administrator can just add a new staff to the database using only
      the staff ID of the that new staff<br>2. The new staff should login using
      Staff ID for both staff id and password after which he/she will upload all
      his/her professional and academic documents
    </p>
    <div class="f-center">
      <h1 style="margin: auto;">Sign Up A New Staff</h1>
      <form method="post" action="/v1/api/sign_up" class="div-form" id="signup_form">
        <img
          class="form-logo"
          src="{{url_for('static', filename='asset/images/logo.jpg')}}"
        />
        <label class="form-label-input2" for="name">First Name <span style="color: red;">*</label>
        <input
          class="form-label-input2"
          placeholder="First Name"
          type="text"
          id="first_name"
          name="first_name"
          required
        /><br />
        <label class="form-label-input2" for="name">Surname <span style="color: red;">*</label>
        <input
          class="form-label-input2"
          placeholder="Surname"
          type="text"
          id="surname"
          name="surname"
          required
        /><br />
        <label class="form-label-input2" for="staffID">Staff ID <span style="color: red;">*</label>
        <input
          class="form-label-input2"
          placeholder="Staff ID"
          type="text"
          id="staff_id"
          name="staff_id"
          required
        /><br />
        <label class="form-label-input2" required for="password">Password <span name='mandatory' style="color: red;">*</label>
        <input
          class="form-label-input2"
          placeholder="Password"
          type="text"
          id="password"
          name="password"
          required

        /><br/>
        <label class="form-label-input2" for="password">Confirm Password <span style="color: red;">*</span></label>
        <input
          class="form-label-input2"
          placeholder="Confirm Password"
          type="text"
          id="confirm_password"
          name="confirm_password"
        /><br/>
        <input
          class="form-label-input2 form-text"
          type="submit"
          id='sign_up'
          name='sign_up'
          title="Sign Up"
          value="Sign Up"
          required
        />
        <p><a href="">Forget password?</a></p>
      </form>
      <button class="form-label-input2 form-text" id='edit' name='edit'>Edit</button>
    </div>
  </section>
</main>
{% endblock %}
