{% extends 'base.html' %} {% block content %}

<main>
  <section style="margin-top: 10vh">
    
    <p>
      NOTE:<br />
      1. For new staff who is logging in for the first time, please log in using
      your staff ID as your password.<br />
      2. For existing and outgone staff use your staff id and the password that
      you set.
    </p>

{% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %} 
     {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="f-center">

     <h2 style="margin: auto;">Sign In</h2> 
     
      <form
        method="post"
        action="/v1/api/auth/login"
        class="div-form"
      >
        <img
          class="form-logo"
          src="{{url_for('static', filename='asset/images/logo.jpg')}}"
        />
        <label class="form-label-input2" for="staffID">Staff ID</label>
        <input
          class="form-label-input2"
          placeholder="Staff ID"
          type="text"
          id="staff_id"
          name="staff_id"
        /><br />
        <label class="form-label-input2" for="password">Password</label>
        <input
          class="form-label-input2"
          placeholder="Password"
          type="text"
          id="password"
          name="password"
        /><br />
        <input
          class="form-label-input2"
          type="submit"
          title="Sign In"
          value="Sign In"
        />
        <p><a href="{{url_for('admin_views.sign_up_post')}}">Add Staff?</a></p>

      </form>

    </div>
  </section>
</main>

{% endblock %}
