
{% extends 'base.html' %}

<body>
{% block header %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6173430360094892"
     crossorigin="anonymous"></script>
<title> Course Overview | Business</title>
{% endblock %}
{% block content %}
<main>


  <div class='col-lg-8  mt-5'>

    <div class='offset-lg-4 fs-4'> 
        <div class='shadow-lg' ><h3>Business Course Overview</h3></div>
  
        <img class="post-gallery"
          src="{{url_for('static', filename='/asset/images/bs1.jpg') }}"
       
          alt="Form one Business students"
        />
        <br><br>
 <p><b>Business</b> is a dynamic subject that teaches the principles of managing, operating, and making strategic decisions for companies. 
  It covers a wide range of topics, including Marketing, Finance, Human Resources, Entrepreneurship, and Economics. 
  The subject introduces students to the various functions of business organizations and the way they interact in the marketplace. 
  Key areas of study include how businesses create value, manage resources, and respond to changing economic conditions. </p>

        <p> <b>In Marketing:</b>, students learn about consumer behavior, branding, advertising, and market research.</p>
          <p><b>Finance:</b> covers budgeting, accounting, investment strategies, and financial management. </p>
          <p><b>Human Resources:</b> involves understanding employee management, recruitment, and creating effective company cultures.</p> 
         <p><b> Entrepreneurship teaches you the basics of starting your own business, including how to pitch ideas, manage risks, and innovate.</b></p>
     
      
      
    

       

    
   <p> --------------------------------------------------------------------------------------------------------------------</p>

   <h2>Subject Combinations are as follows:</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th>Subjects</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
    
        <b><th colspan='3'>Core Subjects</th></b>
     
    </t>
      <tr>
        <td>1</td>
        <td>English Language</td>
        <td>******</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Core Mathematics</td>
        <td>******</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Integrated Science</td>
        <td>******</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Social Studies</td>
        <td>******</td>
      </tr>
      <tr>
      
        <b><th colspan='3'>Elective Subjects</th></b>
     
      </tr>
      
      <tr>
        <td>6</td>
        <td>Business Accounting</td>
        <td>******</td>
      </tr>
      <tr>
        <td>7</td>
        
        <td>Computer Science/td</td>
        <td>******</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Business Management</td>
        <td>******</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Aditional Mathematics</td>
        <td>Government</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Physical Education & Health</td>
        <td>******</td>
      </tr>
    </tbody>
  </table>
</div>
        
</main>

<section id="div_back" class="author ict-vertical-line">
  <div class="author">
    <img src="{{url_for('static', filename='asset/images/authors/helen-akoto_0.jpg') }}">
  </div>
  <div class="author">
    <address class="page_anchor">
      <p><b>Author: Helen Akoto</b></p>
      <p>Tell: <a href="tel:0245876951">0245876951</a></p>
      <p>PQ: BA Liquistics and English Language</p>
      <p>Rank: PS</p>
      <p><i>Published on: 01/02/2025<i></p>
    </address>
  </div>
</section>

{% endblock %}

</body>
