
{% extends 'base.html' %}

<body>
{% block head %}
<title> Course Overview | Business</title>
{% endblock %}
{% block content %}
<main>


  <div class='col-lg-8  mt-5'>

    <div class='offset-lg-4 fs-4'> 
        <div class='shadow-lg' ><h3>Business Course Overview</h3></div>
  
        <img class="post-gallery"
          src="{{url_for('static', filename='/asset/images/handover/b_students') }}"
       
          alt="Form one Business students"
        />
        <br><br>
 <p>Business is a dynamic subject that teaches the principles of managing, operating, and making strategic decisions for companies. 
  It covers a wide range of topics, including Marketing, Finance, Human Resources, Entrepreneurship, and Economics. 
  The subject introduces students to the various functions of business organizations and the way they interact in the marketplace. 
  Key areas of study include how businesses create value, manage resources, and respond to changing economic conditions. </p>

        <p> In Marketing, students learn about consumer behavior, branding, advertising, and market research. Finance covers budgeting, accounting, investment strategies, and financial management. 
          Human Resources involves understanding employee management, recruitment, and creating effective company cultures. 
          Entrepreneurship teaches you the basics of starting your own business, including how to pitch ideas, manage risks, and innovate.</p>
     
      
      
    

       

    
   <p> --------------------------------------------------------------------------------------------------------------------</p>

   <h2>Subject Combinations are as follows:</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th>Subjects</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>English Language</td>
        <td>******</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Core Mathematics</td>
        <td>******</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Integrated Science</td>
        <td>******</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Social Studies</td>
        <td>******</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Business Accounting</td>
        <td>******</td>
      </tr>
      <tr>
        <td>7</td>
        
        <td>Computer Science/td</td>
        <td>******</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Business Management</td>
        <td>******</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Aditional Mathematics</td>
        <td>Government</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Physical Education & Health</td>
        <td>******</td>
      </tr>
    </tbody>
  </table>
</div>
        
</main>
</section>

{% endblock %}

</body>