{% extends 'base.html' %} {% block content %}
<main>
<section style="margin-top: 10vh;">
  <p>NOTE:<br>
    1. For new staff who is logging in for the first time, please log in using your staff ID as your password.<br>
    2. For existing and outgone staff use your staff id and the password that you set.
  </p>

    <div style="margin-right: auto;margin-left: auto; margin-top: 10vh;">
     <form class="div-form">
      <img class="form-logo" src="{{url_for('static', filename='asset/images/logo.jpg')}}">
      <label class="form-label-input" for="user_maiil">Staff ID</label>
      <input class="form-label-input" type="text" id="user_mail" name="email"><br>
      <label class="form-label-input" for="password">Password</label>
      <input class="form-label-input" type="text" id="user_password" name="password"><br>
      <input id="form-submit" type="submit" title="Sign In" value="Sign In">
      <p><a href="#">Forget password?</a></p>
     </form>
     
    </div>
  </section>
</main>
{% endblock %}
