{% extends 'base.html' %} {% block content %}
<main>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% if messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{message}}</div>
  <section style="margin-top: 10vh">
    <h1>Sign Up A New Staff</h1>
    <p>
      NOTE:<br />
      1. An administrator can just add a new staff to the database using only
      the staff ID of the that new staff 2. The new staff should login using
      Staff ID for both staff id and pass after which he/she will upload all
      his/her professional and academic documents
    </p>

    <div class="f-center">
      <form method="post" action="/v1/pramshigh/api/sign_up" class="div-form">
        <img
          class="form-logo"
          src="{{url_for('static', filename='asset/images/logo.jpg')}}"
        />
        <label class="form-label-input2" for="staffID">Staff ID</label>
        <input
          class="form-label-input2"
          placeholder="Staff ID"
          type="text"
          id="staff_id"
          name="staff_id"
        /><br />
        <label class="form-label-input2" for="password">Password</label>
        <input
          class="form-label-input2"
          placeholder="Password"
          type="text"
          id="password"
          name="password"
        /><br />
        <input
          class="form-label-input2"
          type="submit"
          title="Sign In"
          value="Sign In"
        />
        <p><a href="">Forget password?</a></p>
      </form>
    </div>
  </section>
</main>
{% endblock %}
