{% extends 'base.html' %}

<body>
  {% block head %}
  <title></title>
  {% endblock %} {% block content %}

  <main>
    <div class="col-lg-9 mt-5">
      <div class="offset-lg-4 fs-4">
        <div id="description" class="shadow-lg">
          <h3>
            Prampram SHS Language Department: Shaping Linguistic Excellence.
          </h3>
          <br/>
          <img
            class="post-gallery"
            src="{{url_for('static', filename='asset/images/richard.jpg') }}"
            alt="Picture of HOD- Mr. Richard Dzineku" 
            width="500"
            height="300"
          />
        </div>
         <br>
        <p>
         
          At the heart of Prampram Senior High School (Pramshigh) lies a dynamic
          and vibrant Language Department, a pillar of academic excellence
          dedicated to shaping students into being confident communicators and
          critical thinkers. It is Headed by the esteemed <b>Mr. Richard Dziwornu Dzineku</b>, the
          department is a powerhouse of knowledge, fostering linguistic prowess
          through its well-structured units: the <b><i>English Language Unit, the French Language Unit,
          the Literature-in-English Unit, and the Dangme Language Unit.</i></b>
        </p>
      </div>

      <div class="offset-lg-4 fs-4">
        <div id="description" class="shadow-lg">
          <h4>A Multifaceted Department</h4>
        </div>

        <p>
          The Language Department boasts a of team of twelve dedicated educators
          who work tirelessly to ensure students master various languages with
          competence. Each unit is guided by an experienced head who brings his/her
          expertise and passion to the subject:
        </p>
        <ol>
          <li>
            <b>The English Language Unit</b> – Led by <b>Mad. Lydia Mawuena Matey</b>, this unit
            oversees the teaching of Core English Language, which includes Oral English,
            Grammar, Writing, Reading and Reading Comprehension. The goal is to equip
            students with impeccable communication skills, both in spoken and
            written form, and prepare students to pass the WASSCE.
          </li>

          <li>
            <b> The French Language Unit</b> – Under the leadership of <b>Madam. Ama Awenu-Prah</b>, this
            unit opens doors for students to explore the beauty of the French
            language, broadening their linguistic horizons and fostering
            bilingual capabilities.
          </li>

          <li>
            <b>The Literature-in-English Unit</b> – Headed by <b>Mad. Dinnah Essilfie</b>,
            this unit immerses students in the world of literary analysis,
            nurturing their ability to interpret, critique, and appreciate
            diverse literary works.
          </li>

          <li>
            <b>The Dangme Unit</b> – Led by <b>Rev. Samuel Agu</b>, this unit preserves and
            promotes the Dangme language, reinforcing cultural identity and
            heritage through in-depth linguistic studies.
          </li>
        </ol>
      </div>

      <div class="offset-lg-4 fs-4">
        <div id="description" class="shadow-lg">
          <h4>Nurturing Talents Beyond the Classroom</h4>
        </div>
        <p>
          Beyond academic instruction, the Language Department actively grooms
          students for intellectual engagement through the Writers' and Debaters
          Club. This initiative provides a platform for students to sharpen
          their oratory and writing skills. <br>Students debators undergo rigorous
          training to participate in competitive debates, refining their public
          speaking and persuasive abilities.
          Meanwhile, budding writers
          contribute significantly to the school's literary scene, reporting on
          major events, crafting compelling stories, and producing original
          narratives that capture the essence of student life at Pramshigh.
        </p>
      </div>

      <div class="offset-lg-4 fs-4">
        <div id="description" class="shadow-lg">
          <h4>A Vision for Excellence</h4>
        </div>
        <p>
          The Language Department is steadfast in its commitment to achieving
          linguistic excellence, not just in the <b>West African Senior School
          Certificate Examination (WASSCE)</b> but in a holistic manner. It seeks to
          ensure that every student graduating from Pramshigh possesses the
          linguistic dexterity to thrive in diverse professional and social
          settings. 
          <br>Through continuous innovation and dedication, the department
          remains a beacon of learning, transforming students into eloquent
          speakers, prolific writers, and analytical thinkers who will make a
          lasting impact in the world.
          <br/>
          The Language Department of Pramshigh is indeed more than just a
          subject area—it is a gateway to limitless opportunities, cultural
          appreciation, and intellectual empowerment.
        </p>
      </div>
    </div>
  </main>
 
  <section id="div_back" class="author ict-vertical-line">
    <div class="author">
      <img src="{{url_for('static', filename='asset/images/authors/helen-akoto_0.jpg') }}">
    </div>
    <div class="author">
      <address class="page_anchor">
        <p><b>Author: Helen Akoto</b></p>
        <p>Tell: <a href="tel:0245876951">0245876951</a></p>
        <p>PQ: BA Liquistics and English Language</p>
        <p>Rank: PS</p>
        <p><i>Published on: 05/05/2025<i></p>
      </address>
    </div>
  </section> 
  {% endblock %}
</body>
