{% extends 'base.html' %} {% block content %}
<main>
  <section>
    <div>
      <h1>
        <u><b>THE NEED TO STUDY LANGUAGES AT PRAMSHIGH</b></u>
      </h1>
      <p>
        The article that educate new and existing students, the need to learn
        languages at prampram senior high goes here.
      </p>
      <p>
        Teachers, Head of Department should take the chance the convince and
        encourage students to realize the importand and the core need to study
        and be eloquent in Foriegn and local languages
      </p>
    </div>
  </section>
  <section id="div_back" class="author ict-vertical-line">
    <div class="author">
      <img src="{{url_for('static', filename='asset/images/edi.jpg') }}"
    </div>
    <div class="author">
      <address class="page_anchor">
        <p><b>Author</b></p>
        <p>Mr. Oyadier Robert Mensah</p>
        <p>Tell: <a href="tel:+233242663981">+233242663981</a></p>
        <p>PQ: BSc in ITE</p>
        <p>Rank: PS</p>
      </address>
    </div>
    <div id="div_back!" class="author">
      <img src="{{url_for('static', filename='asset/images/edi.jpg') }}"
    </div>
    <div class="author">
      <address class="page_anchor">
        <p><b>Author</b></p>
        <p>Mr. Oyadier Robert Mensah</p>
        <p>Tell: <a href="tel:+233242663981">+233242663981</a></p>
        <p>PQ: BSc in ITE</p>
        <p>Rank: PS</p>
      </address>
    </div>
  </section>
</main>
{% endblock %}
